.cache/
auto-save-list
elpa/
url/
transient/
*~*
.emacs.desktop
*.lock
/.lsp-session-v1
/startup/
/straight/
/.#init.el
/projectile-bookmarks.eld
/recentf
/bookmarks
/.org-id-locations
/org-roam.db
/eshell/
/session.105b91283297fd2238164216159275443600000016320085
